node_modules/
.env
.env.generated
cache/
artifacts/
deployments-*.json
web/dist/
ganache-db/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vercel
.vscode/
.idea/
*.swp
*.swo
coverage/
coverage.json
typechain-types/web/src.bak/
web/src.bak/
